* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
a{
    text-decoration: none;
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}
.span {
  color: #FFFFFF;
  transition: all 0.5s ease;
}

.span:hover {
  color: blue;
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
  text-shadow: 2px 2px 2px #000;
}

.top {
  height: 1024px;
  background-image: url(img/hw1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.header {
  padding-top: 217px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main__header {
  font-style: 64px;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  max-width: 786px;
  padding-left: 120px;
}

.text {
  color: darkgray;
  max-width: 481px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  display: inline;
  margin-left: 120px;
}

.header__button {
  background: #9C0332;
  border-radius: 30px;
  width: 234.06px;
  height: 48.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  margin-left: 120px;
}
.header__button-link{
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: all 0.3s;
}
.header__button-link:hover{
  letter-spacing: 2px;
  color: blue;
}
.header__button__button:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}
.header__button__button:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}


.for {
  background-image: url(img/hw2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.for-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  padding-bottom: 128px;
  max-width: 1440px;
}

.for__item {
  width: 379px;
  height: 300px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0023.jpg);
  border-radius: 16px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  align-items: flex-end;
  line-height: 32px;
  padding: 32px;
}

.for__item_1:hover{
  transform: rotateY(180deg);
}
.for__item_1 {
  height: 300px;
  width: 350px;
  border-radius: 16px;
  background-image: url(img/for1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.for__item_2:hover{
  transform: rotateY(180deg);
}

.for__item_2 {
  height: 300px;
  width: 350px;
  border-radius: 16px;
  background-image: url(img/for2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.for__item_3:hover{
  transform: rotateY(180deg);
}
.for__item_3 {
  height: 300px;
  width: 350px;
  border-radius: 16px;
  background-image: url(img/for3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
@import'mobile';

