@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat";
}

a {
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center {
  padding-left: calc(50% - 720px);
  padding-right: calc(50% - 720px);
}

.span {
  color: #FFFFFF;
  transition: all 0.5s ease;
}

.span:hover {
  color: blue;
  -webkit-text-shadow: 2px 2px 2px #000;
  -moz-text-shadow: 2px 2px 2px #000;
  text-shadow: 2px 2px 2px #000;
}

.top {
  height: 1024px;
  background-image: url(img/hw1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.header {
  padding-top: 217px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main__header {
  font-style: 64px;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: #FFFFFF;
  max-width: 786px;
  padding-left: 120px;
}

.text {
  color: darkgray;
  max-width: 481px;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  display: inline;
  margin-left: 120px;
}

.header__button {
  background: #9C0332;
  border-radius: 30px;
  width: 234.06px;
  height: 48.6px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  margin-left: 120px;
}

.header__button-link {
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  transition: all 0.3s;
}

.header__button-link:hover {
  letter-spacing: 2px;
  color: blue;
}

.header__button__button:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.header__button__button:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

.for {
  background-image: url(img/hw2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
}

.for-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  padding-bottom: 128px;
  max-width: 1440px;
}

.for__item {
  width: 379px;
  height: 300px;
  background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0023.jpg);
  border-radius: 16px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  display: flex;
  align-items: flex-end;
  line-height: 32px;
  padding: 32px;
}

.for__item_1:hover {
  transform: rotateY(180deg);
}

.for__item_1 {
  height: 300px;
  width: 350px;
  border-radius: 16px;
  background-image: url(img/for1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.for__item_2:hover {
  transform: rotateY(180deg);
}

.for__item_2 {
  height: 300px;
  width: 350px;
  border-radius: 16px;
  background-image: url(img/for2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.for__item_3:hover {
  transform: rotateY(180deg);
}

.for__item_3 {
  height: 300px;
  width: 350px;
  border-radius: 16px;
  background-image: url(img/for3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}

.sevason {
  background-image: url(img/hw3.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  min-height: 800px;
}

.sevason__title {
  font-weight: 700;
  font-size: 48px;
  color: #FFFFFF;
  font-style: normal;
  line-height: 59px;
  display: flex;
  align-items: center;
}

.sevason__page {
  font-style: normal;
  font-family: "Montserrat";
  margin-top: 32px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  line-height: 32px;
  width: 584px;
}

.sevason__block {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.sevason__info-img {
  width: 485px;
  height: 333px;
}

.sevason__button {
  background: #9C0332;
  border-radius: 30px;
  width: 234.06px;
  height: 48.6px;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-top: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
  padding-left: 0%;
}

.sevason__button:hover {
  letter-spacing: 2px;
  color: blue;
}

.sevason__button:hover::before {
  opacity: 1;
  transform: scale(1, 1);
}

.sevason__button:hover::after {
  opacity: 0;
  transform: scale(0.1, 1);
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    display: flex;
    align-items: center;
    height: 735px;
  }
  .header__button {
    margin-left: 0%;
  }
  .main__header {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding-top: 238px;
    padding-left: 0%;
  }
  .text {
    font-size: 14px;
    line-height: 22px;
    padding-left: 0%;
    text-align: center;
    margin-left: 0%;
  }
  .button-link {
    margin-left: 0%;
  }
  .for-box {
    display: flex;
    flex-direction: column;
  }
  .for {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-top: 128px;
  }
  .for__item_1 {
    width: 300px;
    height: 300px;
  }
  .for__item_2 {
    width: 300px;
    height: 300px;
  }
  .for__item_3 {
    width: 300px;
    height: 300px;
  }
  .sevason {
    background: #000915;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 233px;
    padding-bottom: 233px;
    justify-content: space-between;
  }
  .sevason__block {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .sevason__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  .sevason__button {
    border: 1px solid #9c0332;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    display: flex;
    align-items: center;
    height: 735px;
  }
  .header__button {
    margin-left: 0%;
  }
  .main__header {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    padding-top: 238px;
    padding-left: 0%;
  }
  .text {
    font-size: 14px;
    line-height: 22px;
    padding-left: 0%;
    text-align: center;
    margin-left: 0%;
  }
  .button-link {
    margin-left: 0%;
  }
  .for-box {
    display: flex;
    flex-direction: column;
  }
  .for {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding-top: 128px;
  }
  .for__item_1 {
    width: 300px;
    height: 300px;
  }
  .for__item_2 {
    width: 300px;
    height: 300px;
  }
  .for__item_3 {
    width: 300px;
    height: 300px;
  }
  .sevason {
    display: flex;
    align-items: center;
    height: 735px;
  }
  .sevason__button {
    margin-left: 0%;
  }
  .sevason__title {
    font-size: 32px;
    line-height: 39px;
    text-align: center;
  }
  .sevason__page {
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    width: 343px;
  }
  .sevason__button {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
  }
  .sevason__block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sevason__info-img {
    width: 344px;
    height: 236px;
  }
  
}/*# sourceMappingURL=style.css.map */